.thankyou-section {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.thankyou-container {
  text-align: center;
}

/* Icon Styling */
.icon-box {
  position: relative;
  display: inline-block;
  background-color: #e3ebe7;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
  animation: pop 0.6s ease;
margin-left: 80px;
}

.icon-box i.fa-cart-shopping {
  font-size: 40px;
  color: #466358;
}

.checkmark {
  position: absolute;
  bottom: 15px;
  right: 20px;
  background: #466358;
  color: #fff;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  border: 2px solid #fff;
}

@keyframes pop {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* Text */
h1 {
  font-size: 40px;
  font-weight: 600;
  color: #000;
  margin-bottom: 10px;
  
}

p {
  color: #666;
  font-size: 16px;
  margin-bottom: 30px;
}

/* Button */
.back-btn {
  display: inline-block;
  background: #222;
  color: #fff;
  padding: 12px 30px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.3s ease;
}

.back-btn:hover {
  background: #000;
  transform: scale(1.05);
}
