 .outer{
            height: 100vh;
            width: 100%;
            background: rgb(234, 231, 231);
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .login{
            height: 500px;
            width: 400px;
            background: white;
            padding: 40px;
             box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.5);

        }
        h1{
            text-align: center;
            padding: 20px;
        }
        input{
            width: 100%;
            height: 40px;
            margin-bottom: 20px;
            padding-left: 5px;
            border-top: none;
            border-left: none;
            border-right: none;
        }
        .full-width {
            width: 100%;
        }
        input::placeholder { 
            font-size: 15px;
        }
        input:focus {
            outline: none;
            }
        #captcha{
            width: 70%;
        }
        span{
          
            padding: 10px;
        }
        #refresh {
            padding: 8px 20px;
            border: none;
            background: teal;
            color: white;
            border-radius: 5px;
            cursor: pointer;
            margin-left: 170px;
        }
        #refresh:hover {
            background: rgb(8, 150, 150);
        }

       
        .submit-btn{
            width: 100%;
            border: 2px solid rgb(11, 88, 155);
            background: rgb(11, 88, 155);
            color: white;
            font-size: 20px;
        }

        .password-box{
            position: relative;
            width: 100%;
        }
        .show-password{
            position: absolute;
            top: 10%;
            right: 5%;
        }